*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  color: red;
}
.red-title{
  background-color: black;
  color: red;
  padding: 10px;
  margin: 10px;
}
.title{
  background-color: black;
  color: white;
}